<!DOCTYPE configuration>
<configuration debig="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattert>%d [%thread] %-5level %logger{36} - %msg%n</pattert>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="SRDOUT"/>
    </root>

</configuration>